/* .login-container {
  max width: 
} */

* {
  box-sizing: border-box;
}
.login-container .header-wrapper,
.login-container form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 40px auto 0;
}
.login-container .header-wrapper {
  align-items: center;
  /* background: grey; */
}

.login-container .header-wrapper h1 {
  margin-bottom: 0.8rem;
  font-size: 4rem;
}

.login-container .header-wrapper h2 {
  font-weight: 400;
  text-align: center;
}

.login-container form {
  font-size: 1.2rem;
  background: white;
  padding: 1rem;
  border-radius: 0.3em;
  box-shadow: 0 0 5px var(--medium-light);
}

.login-container form input {
  font-size: 1rem;
  border: 1px solid rgb(223, 223, 223);
  outline: none;
  border-radius: 0.3em;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
}
.login-container form input:focus {
  outline: 1px solid var(--medium-light);
}

.login-container form input::placeholder {
  color: rgb(185, 185, 185);
}

.login-container form input[type='submit'],
.login-container form .new-account-btn {
  font-size: inherit;
  background: rgb(170, 170, 170);
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
}
.login-container form input[type='submit'] {
  margin-bottom: 0;
}

.login-container form input[type='submit']:hover {
  background: rgb(150, 150, 150);
}

.login-container form .forgotton-password {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--medium);
  display: inline-block;
  padding: 1.2rem;
  border-bottom: 1px solid var(--medium-light);
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.login-container form .forgotton-password:hover {
  text-decoration: underline;
}

.login-container form .new-account-btn {
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.3em;
  background: rgb(43, 43, 43);
  align-self: center;
  width: 60%;
}

.login-container form .new-account-btn:hover {
  background: black;
}

@media screen and (min-width: 900px) {
  .login-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .login-container .header-wrapper,
  .login-container form {
    margin: 0;
    margin-bottom: 50px;
    width: 400px;
  }

  .login-container .header-wrapper {
    margin-bottom: 130px;
  }

  .login-container .header-wrapper h1,
  .login-container .header-wrapper h2 {
    align-self: flex-start;
    text-align: left;
  }
}
