div.feed-container {
  height: calc(100vh - 60px);
  padding-top: 10px;
  max-width: 35rem;
  margin: 60px auto 0;
}

div.feed-container .bottom {
  height: 20px;
  width: 100%;
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  div.feed-container {
    max-width: 60%;
    margin-top: 60px;
    margin-left: 6%;
  }
}

@media screen and (min-width: 1100px) {
  div.feed-container {
    margin: 60px auto 0;
    max-width: 42%;
  }
}
