* {
  padding: 0;
  margin: 0;
}

.topbar-container {
  background-color: white;
  padding: 0 0.5em;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0px -2px 6px rgb(202 202 202);
}

.topbar-right,
.topbar-left {
  display: flex;
  align-items: center;
  width: 22%;
}
.topbar-left {
  width: 6.5rem;
}

.topbar-right {
  justify-content: flex-end;
  position: absolute;
  right: 5px;
}

.topbar-main {
  width: 42%;
  display: flex;
  /* /* justify-content: space-between; */
}

/* Elements */

/* generic (move to home.css) */
.btn {
  background: none;
  border: none;
  cursor: pointer;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  margin-left: 3px;
  margin-right: 5px;
}

.logo .icon {
  font-size: 3rem;
}

/* search facebook */
.search-fb-wrapper {
  display: flex;
  height: 40px;
  width: 40px;
  background: rgb(239, 239, 239);
  border-radius: 1000px;
  align-items: center;
  cursor: pointer;
}

.search-fb-field {
  display: none;
  background: none;
  padding-left: 0;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 300;
}

.search-fb-wrapper .icon {
  margin-left: 3px;
  padding: 0.2em;
  font-size: 1.3rem;
  color: #6d6d6d;
}

/* main */

.btn-main {
  border: none;
  background: none;
  color: var(--medium);
  border-radius: 0.4em;
  width: 4.5em;
  height: 3.5em;
}

.btn-main:hover {
  background: rgb(239, 239, 239);
}

.btn-main:not(.btn-main:last-child) {
  margin-right: 5px;
}

.topbar-main .btn-main svg {
  font-size: 1.5rem;
}
/* svg.css-i4bv87-MuiSvgIcon-root {
  font-size: 1.6rem;
} */

/* user page */
.btn-user-page,
.btn-round:not(.btn-round:last-child) {
  margin-right: 10px;
}
.btn-round:last-child {
  margin-right: 3px;
}

.btn-user-page {
  position: relative;
  background: none;
  padding: 0.5em 1em;
  display: none;
  align-items: center;
  border-radius: 1000px;
  padding-right: 0.5em;
}
.btn-user-page .icon {
  font-size: 34px;
  position: absolute;
  left: 2px;
}

.btn-user-page:hover {
  background: rgb(239, 239, 239);
}

.btn-user-page span {
  margin-left: 25px;
  padding: 4px;
}

.btn-round {
  border: none;
}

.btn-round .icon {
  font-size: 20px;
  background: rgb(239, 239, 239);
  border-radius: 50%;
  padding: 10px;
}
.btn-round .icon:hover {
  background-color: rgb(219, 219, 219);
}

.topbar-main .btn:not(.topbar-main .btn:last-child) {
  display: none;
}

@media screen and (min-width: 1260px) {
  .search-fb-field {
    display: inline-block;
  }
  .search-fb-wrapper {
    cursor: initial;
    width: 200px;
  }
  .btn-user-page {
    display: flex;
  }
}

@media screen and (min-width: 1100px) {
  .topbar-main .btn:last-child {
    display: none;
  }
  .topbar-main .btn-main:nth-child(5) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 990px) {
  .topbar-main .btn:not(.topbar-main .btn:last-child) {
    display: inline-block;
  }

  .topbar-container {
    justify-content: space-between;
  }
  .btn-main {
    width: 10em;
  }

  .topbar-main {
    width: 42%;
    justify-content: space-between;
    display: flex;
    justify-content: right;
  }

  .topbar-right {
    position: static;
  }
  .topbar-left {
    width: 22%;
  }
}
