.sidebar-container.sidebar-right {
  display: none;
  width: 28%;
}

.sidebar-bottom {
  height: 20px;
}

.sidebar-container .section-1,
.sidebar-container .section-2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar-left-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 35px;
  width: 50px;
}

.sidebar-container.sidebar-left .icon {
  font-size: 2.2rem;
}
.sidebar-container.sidebar-left
  .btn:first-child
  .sidebar-left-icon-container
  .icon {
  position: absolute;
  width: 42px;
  font-size: 2.6rem;
}

.sidebar-container .btn.bookmark-profile {
  text-decoration: none;
  color: black;
}

.sidebar-container .btn {
  padding: 0.8em 0.5em;
  border-radius: 0.4em;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.sidebar-container.sidebar-right .btn {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.sidebar-container .btn:hover {
  background: rgb(230, 230, 230);
}

.sidebar-container .icon {
  margin-right: 10px;
  font-size: 2.6rem;
}

/* .sidebar-container.sidebar-left .btn:first-child .icon {
  font-size: 2.6rem;
} */

.sidebar-container .side-bar-right-btn-name {
  font-size: 15px;
}

.btn-see-more {
  margin-bottom: 5px;
}

.btn-see-more .icon {
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
}

h3 {
  padding: 0.8em 0.5em;
  color: rgb(109, 109, 109);
  font-size: 1rem;
  font-weight: 500;
}

.sidebar-container {
  height: calc(100vh - 56px);
  padding-top: 10px;
  overflow: scroll;
  margin-top: 56px;
}

.sidebar-container.sidebar-right {
  position: fixed;
  right: 6px;
}

.sidebar-container.sidebar-left {
  position: fixed;
  left: 6px;
  /* EDITING HERE */
  display: none;
  background: var(--light);
  width: calc(100% - 1rem);
  z-index: 3;
}

@media screen and (min-width: 1100px) {
  .sidebar-container.sidebar-left {
    display: block;
  }
  .sidebar-container.sidebar-right,
  .sidebar-container.sidebar-left {
    width: 22%;
  }
}

@media screen and (min-width: 900px) {
  .sidebar-container.sidebar-right {
    display: block;
  }
}
