.Sidebar {
  height: calc(100vh - 56px);
  padding-top: 10px;
  overflow: scroll;
  margin-top: 56px;

  h3 {
    padding: 0.8em 0.5em;
    color: rgb(109, 109, 109);
    font-size: 1rem;
    font-weight: 500;
  }

  .section-1,
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .btn {
    padding: 0.8em 0.5em;
    border-radius: 0.4em;
    flex-grow: 1;
    display: flex;
    align-items: center;

    .name {
      font-size: 15px;
    }

    &:hover {
      background: rgb(230, 230, 230);
    }
  }

  .icon {
    margin-right: 10px;
    font-size: 2.6rem;
  }

  .bottom {
    height: 20px;
  }
}

.Sidebar {
  &.left {
    position: fixed;
    left: 6px;
    display: none;
    background: var(--light);
    width: calc(100% - 1rem);
    z-index: 3;

    .icon {
      font-size: 2.2rem;
    }

    .section-1 {
      .btn {
        &.bookmark-user {
          text-decoration: none;
          color: black;
        }
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 35px;
          width: 50px;
        }

        &:first-child {
          .container {
            .icon {
              position: absolute;
              width: 42px;
              font-size: 2.6rem;
            }
          }
        }
      }
    }
  }
}

.Sidebar {
  &.right {
    display: none;
    width: 28%;
    position: fixed;
    right: 6px;

    .btn {
      padding-top: 0.6em;
      padding-bottom: 0.6em;
    }
  }
}

.btn-see-more {
  margin-bottom: 5px;
}

.btn-see-more .icon {
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
}

@media screen and (min-width: 1100px) {
  .Sidebar {
    &.left {
      display: block;
    }
  }

  .Sidebar {
    &.right,
    &.left {
      width: 22%;
    }
  }
}

@media screen and (min-width: 900px) {
  .Sidebar {
    &.right {
      display: block;
    }
  }
}
