.write-comment-container,
.comment-bubble-container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.write-comment-container .account-icon,
.comment-bubble-container .account-icon {
  margin-right: 10px;
  font-size: 2.2rem;
  /* align-self: flex-start; */
}

.write-comment-pill-wrapper {
  display: flex;
  height: 40px;
  /* width: 100%; */
  width: calc(100% - 2.2rem - 10px);
  background: rgb(239, 239, 239);
  border-radius: 1000px;
  align-items: center;
}

.write-comment-field {
  width: 100%;
  background: none;
  padding: 10px;
  border: none;
  outline: none;
  padding-left: 1em;
}

.write-comment-pill-wrapper .icon {
  margin-left: 10px;
  color: var(--medium);
}

.bubble-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: calc(100% - 2.2rem - 10px);
  background: var(--light);
  border-radius: 1em;
}

.bubble-wrapper .comment-wrapper {
  padding: 0.5em 0.8em;
}

.bubble-wrapper .comment-wrapper a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  font-size: 12px;
}
.bubble-wrapper .comment-wrapper p {
  font-weight: 400;
  margin-top: 4px;
  font-size: 15px;
  line-height: 1.3em;
}
.bubble-wrapper .comment-wrapper a:hover {
  text-decoration: underline;
}

.line-break {
  width: 100%;
}

.comment-engagememnt {
  margin-left: calc(4.2rem);
}
.comment-engagememnt a {
  font-size: 0.8rem;
  margin-right: 10px;
  text-decoration: none;
  color: var(--medium);
}

.comment-engagememnt a.like,
.comment-engagememnt a.reply {
  font-weight: 500;
}

.comment-engagememnt a:hover {
  text-decoration: underline;
}

/* .comment-engagememnt:not(a:last-child) {
  margin-right: 10px;
} */
