.profile.body-container {
  /* background: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.profile-header-section {
  background-color: white;
  box-shadow: 0px 0px 10px var(--medium-light);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile .cover-photo {
  width: 100%;
  max-width: 905px;
  align-self: center;
  object-position: 0px 0px;
  margin-top: 40px;
}

.profile .header-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -5.5rem;
  border-bottom: 1px solid var(--medium-light);
}

.profile-pic {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: 3px solid white;
  border-bottom: 20px;
}

.name-and-friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .header-info-container h1 {
  margin: 10px 0;
}
.profile .header-info-container h4 {
  margin-bottom: 10px;
  color: var(--medium);
  font-weight: 400;
}

.profile .friends-shortlist-container {
  margin-bottom: 10px;
}
.profile .friends-shortlist-container svg.friends-icon {
  font-size: 2rem;
  background: white;
  border-radius: 50%;
}

.profile .friends-shortlist-container svg.friends-icon:not(:first-child) {
  margin-left: -5px;
}

.profile .info-btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
  padding-bottom: 15px;
}
.profile .info-btn-container .btn:first-child {
  margin-right: 10px;
}
.profile .info-btn-container .add-story {
  background-color: var(--dark);
}
.profile .info-btn-container .add-story:hover {
  background-color: #1f1f1f;
}
.profile .info-btn-container .edit-profile {
  background-color: #e1e1e1;
  color: var(--dark);
}
.profile .info-btn-container .edit-profile:hover {
  background-color: var(--medium-light);
}

.nav-outer-container {
  width: 100%;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 2;
  box-shadow: 0 6px 5px -4px rgba(0, 0, 0, 0.1);
}
.nav-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.nav-btn-container {
  width: 80%;
}

.btn.btn-main:hover {
  background-color: var(--light);
}

.nav-container .btn.more {
  padding: 0.2em;
  border-radius: 50%;
  font-size: 2.2rem;
  color: var(--medium);
  border-radius: 5px;
  background-color: var(--light);
}
.nav-container .more:hover {
  background-color: rgb(224 224 224);
}

@media (min-width: 450px) {
  .profile .info-btn-container {
    max-width: 300px;
  }
}

@media (min-width: 900px) {
  .nav-container {
    max-width: 830px;
  }

  .profile .header-info-container {
    flex-direction: row;
    margin-top: -2.2rem;
    justify-content: flex-start;
    align-self: center;
    max-width: 830px;
    position: relative;
    padding-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .profile .cover-photo {
    border-radius: 5px;
  }

  .profile-pic {
    margin-right: 20px;
  }

  .name-and-friends-container {
    align-items: flex-start;
    align-self: flex-end;
  }

  .info-btn-container {
    align-self: flex-end;
    position: absolute;
    right: 0;
  }
}

/* content */

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35rem;
  padding: 0 0.5rem;
}

.container-a {
  width: 100%;
}

.content-container .feed-container {
  margin-top: 0;
}

.intro-friends-photos-container {
  width: 100%;
  margin-top: 20px;
}

.intro-container {
  padding: 0.8em 0;
  margin: 0 0.8em;
}

.intro-container h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.details-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.details-list-item .icon {
  font-size: 1.4rem;
  margin-right: 10px;
  color: var(--medium);
}

.details-list-item p {
  font-size: 14px;
  color: var(--medium);
}
.details-list-item p span {
  color: black;
}

@media (min-width: 900px) {
  .content-container .feed-container {
    margin: 0;
  }

  .nav-container {
    padding-left: 0;
    padding-right: 0;
  }
  .content-container {
    width: 830px;
    max-width: 830px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
  }
  .container-a {
    width: 39.7%;
    position: sticky;
    top: 113px;
    height: 109vh;
    bottom: 0px;
  }

  .profile-wall-container {
    width: 58%;
  }
  .profile-wall-container .feed-container {
    max-width: 35rem;
  }
}

.facebook-clone-blurb {
  margin: 14px;
  color: var(--medium);
  font-weight: 400;
  text-align: center;
}
