@import-normalize;
/* import-normalise is a library and was actually loaded up with a bunch of other libraries when we ran create-react-app*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
